<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive-sm">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>client Name</th>
            <th>Location</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of clients">
            <td>#</td>
            <td>{{c.clientName}}</td>
            <td>{{c.clientLocation}}</td>
            <td>{{c.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <app-client-item></app-client-item> -->
